html , body{
    background-color: #494C56;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.programming{
    
   
}
.typing{
    opacity: 0.2;
}
img{
    max-width: 100%;
}
.marketing{
    background-image: url('/assets/img/marketingBG.jpg');
    
    
}
.marketing img.anm{
    height: 100vh;
    width:100vw;
}
#som{
   
}
#ab
{
    /*EDITED by Mohammad */
    background-image: url('/assets/img/MovingBackground.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*css by Mohammad */
.backwords
{
    position: absolute;
    z-index: -200;
}

.arTxt
{
    float:right;
    direction: rtl;
    color:white;
    text-align: right;
    margin-top:20px;
    font-family: 'Cairo', sans-serif;
}
.aboutSecImg
{
    margin-left:-179px;
    max-width: 150%!important;
    width:150%;
    height: 150%;
    line-height: 24px;
}
.header
{
    position:absolute;
    top:-15px;
    left: 0px;
}